.navbar {
  background-color: rgb(243 244 246);
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */

  padding-top: 0.625rem; /* 10px */
  padding-bottom: 0.625rem; /* 10px */

  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media (min-width: 640px) {
  .navbar {
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
  }
}

.navbar-bordered {
  border-color: rgb(75 85 99);
  border-bottom-width: 1px;
}

.navbar-sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
}

.navbar-floating {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25rem; /* 20px */
  max-width: 80rem; /* 1280px */
  border-radius: 0.75rem; /* 12px */
}

.navbar-floating.navbar-bordered {
  border-width: 1px;
}

.navbar-glass {
  background-color: rgba(252, 252, 252, 0.7);
  backdrop-filter: blur(8px);
  backdrop-filter: saturate(0.5);
}

.navbar-rounded {
  border-bottom-right-radius: 0.75rem; /* 12px */
  border-bottom-left-radius: 0.75rem; /* 12px */
}

.navbar-no-boxShadow {
  box-shadow: 0 0 #0000;
}

.navbar-start {
  display: flex;
  width: 100%;
  justify-items: start;
  justify-content: flex-start;
  gap: 0.25rem; /* 4px */
}

.navbar-center {
  display: flex;
  width: 100%;
  justify-items: start;
  justify-content: center;
  gap: 0.25rem; /* 4px */
}

.navbar-end {
  display: flex;
  width: 100%;
  justify-items: start;
  justify-content: flex-end;
  gap: 0.25rem; /* 4px */
}

.navbar-brand {
  display: flex;
  justify-items: start;
  gap: 0.25rem; /* 4px */
  white-space: nowrap;
}

.navbar-item {
  cursor: pointer;
  border-right-width: 1px;
  adius: 0.5rem; /* 8px */
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
  color: rgb(28 28 28);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.navbar-item:not(.navbar-active):hover {
  color: rgb(88 87 87);
}

.navbar-active {
  color: rgb(0 114 245);
}

.navbar:not(:has(.navbar-end)) .navbar-center {
  align-items: flex-start;
  justify-content: flex-start;
}

.navbar:not(:has(.navbar-start)) .navbar-center {
  justify-items: start;
  justify-content: center;
}

.navbar:not(:has(.navbar-start)) .navbar-center {
  align-items: flex-end;
  justify-content: flex-end;
}

.navbar:not(:has(.navbar-start, .navbar-end)) .navbar-center {
  justify-items: start;
  justify-content: center;
}
