.tooltip,
.tooltip-hover,
.tooltip-click {
  background-color: #000000;
  border-color: #000000;
  position: relative;
}

.tooltip-hover::before,
.tooltip-hover::after,
.tooltip-click::before,
.tooltip-click::after,
.tooltip::before,
.tooltip::after {
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.tooltip-hover:hover::before,
.tooltip-hover:hover::after,
.tooltip-click:focus-within::before,
.tooltip-click:focus-within::after,
.tooltip:hover::before,
.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

.tooltip-hover::before,
.tooltip-click::before,
.tooltip::before {
  z-index: 20;
  width: max-content;
  border-radius: 0.375rem; /* 6px */
  background-color: inherit;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding-top: 0.375rem; /* 6px */
  padding-bottom: 0.375rem; /* 6px */
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  color: rgb(255 255 255);
  content: attr(data-tooltip);
}

.tooltip-hover::after,
.tooltip-click::after,
.tooltip::after {
  height: 0px;
  width: 0px;
  content: "";
}

/* Top */

.tooltip::before,
.tooltip::after {
  transform: translate(-50%);
  bottom: 85%;
  left: 50%;
  right: initial;
  top: initial;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.75rem; /* 12px */
  margin-top: 0px;
}

.tooltip::after {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.5rem; /* 8px */
  margin-top: 0px;
  border-bottom-width: 0px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tooltip-top::before,
.tooltip-top::after {
  transform: translate(-50%);
  bottom: 85%;
  left: 50%;
  right: initial;
  top: initial;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.75rem; /* 12px */
  margin-top: 0px;
}

.tooltip-top::after {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.5rem; /* 8px */
  margin-top: 0px;
  border-bottom-width: 0px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* Bottom */
.tooltip-bottom::before,
.tooltip-bottom::after {
  transform: translate(-50%);
  bottom: initial;
  left: 50%;
  right: initial;
  top: 85%;
  margin: 12px 0 0 0;
}

.tooltip-bottom::after {
  margin-top: 0.5rem; /* 8px */
  border-bottom-width: 5px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* Right */
.tooltip-right::before,
.tooltip-right::after {
  transform: translate(0, -50%);
  bottom: initial;
  left: 95%;
  right: initial;
  top: 50%;
  margin: 0 0 0 12px;
}

.tooltip-right::after {
  margin-left: 0.5rem; /* 8px */
  border-bottom-width: 4px;
  border-left-width: 0px;
  border-right-width: 5px;
  border-top-width: 4px;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

/* Left */
.tooltip-left::before,
.tooltip-left::after {
  transform: translate(0, -50%);
  bottom: initial;
  left: initial;
  right: 95%;
  top: 50%;
  margin: 0 12px 0 0;
}

.tooltip-left::after {
  margin-right: 0.5rem; /* 8px */
  border-bottom-width: 4px;
  border-left-width: 5px;
  border-right-width: 0px;
  border-top-width: 4px;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

/*  */

.tooltip-primary {
  background-color: rgb(0 114 245);
  border-color: rgb(0 114 245);
}

.tooltip-secondary {
  background-color: rgb(151 80 221);
  border-color: rgb(151 80 221);
}

.tooltip-success {
  background-color: rgb(23 201 100);
  border-color: rgb(23 201 100);
}

.tooltip-warning {
  background-color: rgb(255 184 0);
  border-color: rgb(255 184 0);
}

.tooltip-error {
  background-color: rgb(243 18 96);
  border-color: rgb(243 18 96);
}

.tooltip-info {
  background-color: rgb(3 183 219);
  border-color: rgb(3 183 219);
}

.tooltip::before.tooltip-open,
.tooltip-hover::before.tooltip-open,
.tooltip-click::before.tooltip-open {
  visibility: visible;
  opacity: 1;
}

.tooltip::after.tooltip-open,
.tooltip-hover::after.tooltip-open,
.tooltip-click::after.tooltip-open {
  visibility: visible;
  opacity: 1;
}
